<link rel="stylesheet" href=" /css/index.css" />

<div id="app">
  <div>
    <div class="top-tool">
      <input class="J_SearchInput" type="text" placeholder="请输入姓名" />
      <button class="J_SearchButton">查询</button>
    </div>
    <table class="J_Table"></table>
    <div class="bottom-tool">
      <div class="J_Total">总计：0条</div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>